* {
    box-sizing: border-box;
}

body {
    margin: auto;
    display: block;
}

// MIXIN & ROOT
$firstColor: azure;
$secondColor: black;
$thirdColor: rgb(2, 70, 2);

$firstFont: carbon;
$secondFont: speedBold;

$maxWidthCard: 900px;
$maxWidthCardTwo: 1200px;

@mixin flex ($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;
}

// FONTS
@font-face {
    font-family: $firstFont;
    src: url('/assets/font/carbonBold.otf');
}

@font-face {
    font-family: $secondFont;
    src: url('/assets/font/speedBold.ttf');
}

// SHOW PAGE
#show {
    .navbar {
        height: 80px;
        padding: 10px;
        align-items: center;
        @include flex (row);
        background-color: $thirdColor;
        justify-content: space-between;
        .navbar-brand {
            .siteLogo {
                font-size: 1.8em;
                color: $firstColor;
                margin-top: 5px;
                margin-left: 10px;
                font-family: $secondFont;
                a {
                    color: azure;
                    text-decoration: none;
                }
            }
        }
        #btnBar {
            display: none;
            border: none;
            font-size: 1.4em;
            color: $firstColor;
            background: transparent;
        }
        .collapse {
            justify-content: end;
            .navbar-nav {
                column-gap: 60px;
                margin-right: 60px;
                .nav-item {
                    .nav-link {
                        font-size: 1.6em;
                        color: $firstColor;
                        text-decoration: none;
                        font-family: $firstFont;
                        &:hover {
                            opacity: 0.8;
                            transform: scale(0.8);
                        }
                    }
                }
            }
            #btnConnect {
                padding: 3px;
                font-size: 1.4em;
                margin-right: 3px;
                color: $firstColor;
                font-family: $firstFont;
                background: transparent;
                border: none;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .containShow {
        .picsum-img-wrapper {
            .img-fluid {
                height: 800px;
            }
            .word {
                position: absolute;
                top: 4%;
                width: 100%;
                text-align: center;
                font-family: $firstFont;
                color: $firstColor;
                font-size: 2.2em;
                letter-spacing: 2px;
                text-shadow: 0px 0px 4px #000000;
            }
        }
    }
    .footer {
        height: 59px;
        padding: 10px;
        text-align: center;
        background-color: $thirdColor;
        justify-content: space-between;
        .copy {
            font-size: 1.7em;
            color: $firstColor;
            font-family: $secondFont;

        }
        
    }
}

#sideCanvas {
    height: 160px;
    max-width: 250px;
    background-color: $secondColor;
    border-radius: 0px 0px 0px 40px;
    .offcanvas-header {
        .btn-close {
            font-size: 1.6em;
            color: $firstColor;
        }
    }
    .offcanvas-body {
        margin-top: -15px;
        margin-right: 21px;
        .hrefList {
            .href-item {
                text-align: center;
                list-style-type: none;
                .href-link {
                    font-size: 1.8em;
                    color: $firstColor;
                    font-family: $secondFont;
                    text-decoration: none;
                }
            }
        }
        #btnConnect {
            display: block;
            margin: -10px auto;
            padding-left: 25px;
            font-size: 1.4em;
            color: $firstColor;
            font-family: $firstFont;
            background: transparent;
            border: none;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

// CHOOSE PAGE
#choose {
   .navbar {
        height: 80px;
        padding: 10px;
        align-items: center;
        @include flex (row);
        background-color: $thirdColor;
        justify-content: space-between;
        .navbar-brand {
            .siteLogo {
                font-size: 1.8em;
                color: $firstColor;
                margin-top: 5px;
                margin-left: 10px;
                font-family: $secondFont;
                a {
                    color: azure;
                    text-decoration: none;
                }
            }
        }
        #btnBar {
            display: none;
            border: none;
            font-size: 1.4em;
            color: $firstColor;
            background: transparent;
        }
        .collapse {
            justify-content: end;
            .navbar-nav {
                column-gap: 60px;
                margin-right: 60px;
                .nav-item {
                    .nav-link {
                        font-size: 1.6em;
                        color: $firstColor;
                        text-decoration: none;
                        font-family: $firstFont;
                        &:hover {
                            opacity: 0.8;
                            transform: scale(0.8);
                        }
                    }
                }
            }
            #btnConnect {
                padding: 3px;
                font-size: 1.4em;
                margin-right: 3px;
                color: $firstColor;
                font-family: $firstFont;
                background: transparent;
                border: none;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    } 
    .containChoose {
        .img-fluid {
            height: 800px;
        }
        .switchCars {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            position: absolute;
            .choose {
                color: $firstColor;
                font-size: 2.0em;
                letter-spacing: 2px;
                text-shadow: 0px 0px 4px #000000;
                font-family: $secondFont;
            }
            .listTypeCars {
                #btnType {
                    margin: 10px;
                    opacity: 0.8;
                    color: $firstColor;
                    font-size: 1.8em;
                    font-family: $firstFont;
                    background: black;
                    letter-spacing: 2px;
                    text-shadow: 0px 0px 4px #000000;
                    border: 1px solid $secondColor;
                    &:hover {
                        opacity: 1.0;
                        transform: scale(1.1)
                    }
                }
            }
            .showCars {
                @include flex (row);
                .detailsSwitch {
                    @include flex (row);
                    flex-wrap: nowrap;
                    .infoSwitch {
                        .row {
                            margin-top: 10px;
                            .car {
                                max-width: 350px;
                                .img-fluid {
                                    margin: 10px;
                                    height: 200px;
                                    border-radius: 20px;
                                    border: 0px solid $secondColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer {
        height: 59px;
        padding: 10px;
        text-align: center;
        background-color: $thirdColor;
        justify-content: space-between;
        .copy {
            font-size: 1.7em;
            color: $firstColor;
            font-family: $secondFont;
        }
    }
}

// HYBRIDES PAGE
#hybrides {
    .navbar {
        height: 80px;
        padding: 10px;
        align-items: center;
        @include flex (row);
        background-color: $thirdColor;
        justify-content: space-between;
        .navbar-brand {
            .siteLogo {
                font-size: 1.8em;
                color: $firstColor;
                margin-top: 5px;
                margin-left: 10px;
                font-family: $secondFont;
                a {
                    color: azure;
                    text-decoration: none;
                }
            }
        }
        #btnBar {
            display: none;
            border: none;
            font-size: 1.4em;
            color: $firstColor;
            background: transparent;
        }
        .collapse {
            justify-content: end;
            .navbar-nav {
                column-gap: 60px;
                margin-right: 60px;
                .nav-item {
                    .nav-link {
                        font-size: 1.6em;
                        color: $firstColor;
                        text-decoration: none;
                        font-family: $firstFont;
                        &:hover {
                            opacity: 0.8;
                            transform: scale(0.8);
                        }
                    }
                }
            }
            #btnConnect {
                padding: 3px;
                font-size: 1.4em;
                margin-right: 3px;
                color: $firstColor;
                font-family: $firstFont;
                background: transparent;
                border: none;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    } 
    .containHybrides {
        .showHybrides {
            .img-fluid {
                height: 800px;
            }
            .infoHybride {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                .img-fluid {
                    height: 500px;
                    max-width: 1200px;
                    text-align: center;
                }
                .numberInfo {
                    text-align: center;
                    .row {
                        .col-lg-4 {
                            p {
                                font-size: 2.2em;
                                color: $firstColor;
                                letter-spacing: 2px;
                                font-family: $secondFont;
                                text-shadow: 0px 0px 4px #000000;
                            }
                            span {
                                font-size: 1.6em;
                                color: $firstColor;
                                font-family: $firstFont;
                                letter-spacing: 4px;
                                text-shadow: 0px 0px 4px #000000;
                            }
                        }
                    }
                }
                .name {
                    font-size: 2.7em;
                    color: $firstColor;
                    font-family: $secondFont;
                    text-align: center;
                    margin-top: 15px;
                    text-shadow: 0px 0px 4px #000000;
                }
            }
        }
    }
    .footer {
        height: 59px;
        padding: 10px;
        text-align: center;
        background-color: $thirdColor;
        justify-content: space-between;
        .copy {
            font-size: 1.7em;
            color: $firstColor;
            font-family: $secondFont;
        }
    }
}

// ELECTRICS PAGE
#electrics {
    .navbar {
        height: 80px;
        padding: 10px;
        align-items: center;
        @include flex (row);
        background-color: $thirdColor;
        justify-content: space-between;
        .navbar-brand {
            .siteLogo {
                font-size: 1.8em;
                color: $firstColor;
                margin-top: 5px;
                margin-left: 10px;
                font-family: $secondFont;
                a {
                    color: azure;
                    text-decoration: none;
                }
            }
        }
        #btnBar {
            display: none;
            border: none;
            font-size: 1.4em;
            color: $firstColor;
            background: transparent;
        }
        .collapse {
            justify-content: end;
            .navbar-nav {
                column-gap: 60px;
                margin-right: 60px;
                .nav-item {
                    .nav-link {
                        font-size: 1.6em;
                        color: $firstColor;
                        text-decoration: none;
                        font-family: $firstFont;
                        &:hover {
                            opacity: 0.8;
                            transform: scale(0.8);
                        }
                    }
                }
            }
            #btnConnect {
                padding: 3px;
                font-size: 1.4em;
                margin-right: 3px;
                color: $firstColor;
                font-family: $firstFont;
                background: transparent;
                border: none;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    } 
    .containElectrics {
        .showElectrics {
            .img-fluid {
                height: 800px;
            }
            .infoElectric {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                .img-fluid {
                    height: 500px;
                    max-width: 1200px;
                    text-align: center;
                }
                .numberInfo {
                    text-align: center;
                    .row {
                        .col-lg-4 {
                            p {
                                font-size: 2.2em;
                                color: $firstColor;
                                letter-spacing: 2px;
                                font-family: $secondFont;
                                text-shadow: 0px 0px 4px #000000;
                            }
                            span {
                                font-size: 1.6em;
                                color: $firstColor;
                                font-family: $firstFont;
                                letter-spacing: 4px;
                                text-shadow: 0px 0px 4px #000000;
                            }
                        }
                    }
                }
                .name {
                    font-size: 2.7em;
                    color: $firstColor;
                    font-family: $secondFont;
                    text-align: center;
                    margin-top: 15px;
                    text-shadow: 0px 0px 4px #000000;
                }
            }
        }
    }
    .footer {
        height: 59px;
        padding: 10px;
        text-align: center;
        background-color: $thirdColor;
        justify-content: space-between;
        .copy {
            font-size: 1.7em;
            color: $firstColor;
            font-family: $secondFont;
        }
    }
}

// DIESEL PAGE
#diesels {
    .navbar {
        height: 80px;
        padding: 10px;
        align-items: center;
        @include flex (row);
        background-color: $thirdColor;
        justify-content: space-between;
        .navbar-brand {
            .siteLogo {
                font-size: 1.8em;
                color: $firstColor;
                margin-top: 5px;
                margin-left: 10px;
                font-family: $secondFont;
                a {
                    color: azure;
                    text-decoration: none;
                }
            }
        }
        #btnBar {
            display: none;
            border: none;
            font-size: 1.4em;
            color: $firstColor;
            background: transparent;
        }
        .collapse {
            justify-content: end;
            .navbar-nav {
                column-gap: 60px;
                margin-right: 60px;
                .nav-item {
                    .nav-link {
                        font-size: 1.6em;
                        color: $firstColor;
                        text-decoration: none;
                        font-family: $firstFont;
                        &:hover {
                            opacity: 0.8;
                            transform: scale(0.8);
                        }
                    }
                }
            }
            #btnConnect {
                padding: 3px;
                font-size: 1.4em;
                margin-right: 3px;
                color: $firstColor;
                font-family: $firstFont;
                background: transparent;
                border: none;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    } 
    .containDiesels {
        .showDiesels {
            .img-fluid {
                height: 800px;
            }
            .infoDiesel {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                .img-fluid {
                    height: 500px;
                    max-width: 1200px;
                    text-align: center;
                }
                .numberInfo {
                    text-align: center;
                    .row {
                        .col-lg-4 {
                            p {
                                font-size: 2.2em;
                                color: $firstColor;
                                letter-spacing: 2px;
                                font-family: $secondFont;
                                text-shadow: 0px 0px 4px #000000;
                            }
                            span {
                                font-size: 1.6em;
                                color: $firstColor;
                                font-family: $firstFont;
                                letter-spacing: 4px;
                                text-shadow: 0px 0px 4px #000000;
                            }
                        }
                    }
                }
                .name {
                    font-size: 2.7em;
                    color: $firstColor;
                    font-family: $secondFont;
                    text-align: center;
                    margin-top: 15px;
                    text-shadow: 0px 0px 4px #000000;
                }
            }
        }
    }
    .footer {
        height: 59px;
        padding: 10px;
        text-align: center;
        background-color: $thirdColor;
        justify-content: space-between;
        .copy {
            font-size: 1.7em;
            color: $firstColor;
            font-family: $secondFont;
        }
    }
}

// LOGIN PAGE
#login {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/pict/roadLogIn.png');
    #btnCloseConnect {
        position: relative;
        top: 1%;
        left: 98%;
        border: none;
        font-size: 1.6em;
        color: $secondColor;
        background: transparent;
    }
    .containLogIn {
        width: 100%;
        height: 100%;
        display: block;
        margin: auto;
        max-height: 270px;
        padding: 10px;
        max-width: 490px;
        top: 33%;
        position: relative;
        form {
            .identify {
                text-align: center;
                font-size: 2.2em;
                color: $firstColor;
                margin-bottom: -10px;
                font-family: $secondFont;
                text-shadow: 0px 0px 4px #000000;
            }
            .already {
                font-size: 1.6em;
                color: $firstColor;
                text-align: center;
                margin-top: 9px;
                font-family: $firstFont;
                text-shadow: 0px 0px 4px #000000;
                .hrefSignUp {
                    cursor: pointer;
                    color: azure;
                    text-decoration: none;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
            #btnIdentify {
                padding: 7px;
                display: block;
                font-size: 1.2em;
                margin: 8px auto;
                color: $firstColor;
                border-radius: 20px;
                font-family: $secondFont;
                border: 1px solid azure;
                background-color: darkgreen;
            }
        }
    }
}

// SIGNUP PAGE 
#signup {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/pict/roadSignUp.jpg');
    #btnCloseConnect {
        position: relative;
        top: 1%;
        left: 98%;
        border: none;
        font-size: 1.6em;
        color: $secondColor;
        background: transparent;
    }
    .containSignUp {
        width: 100%;
        height: 100%;
        display: block;
        margin: auto;
        max-height: 270px;
        padding: 10px;
        max-width: 510px;
        top: 32%;
        position: relative;
        form {
            .register {
                text-align: center;
                font-size: 2.2em;
                color: $firstColor;
                margin-bottom: -10px;
                font-family: $secondFont;
                text-shadow: 0px 0px 4px #000000;
            }
            .nomember {
                font-size: 1.6em;
                color: $firstColor;
                text-align: center;
                margin-top: 9px;
                font-family: $firstFont;
                text-shadow: 0px 0px 4px #000000;
                .hrefLogIn {
                    cursor: pointer;
                    color: azure;
                    text-decoration: none;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
            #btnRegister {
                padding: 7px;
                display: block;
                font-size: 1.2em;
                margin: 8px auto;
                color: $firstColor;
                border-radius: 20px;
                font-family: $secondFont;
                border: 1px solid azure;
                background-color: darkgreen;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    #choose {
        .containChoose {
            .switchCars {
                top: 60%;
                .showCars {
                    .detailsSwitch {
                        .infoSwitch {
                            .row {
                                width: 1000px;
                                .car {
                                    .img-fluid {
                                        height: 280px;
                                        max-width: 650px;
                                        border: 3px solid $firstColor;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #show {
        .navbar {
            .navbar-brand {
                .siteLogo {
                    margin-top: 15px;
                }
            }
        }
    }
    #choose {
        .containChoose {
            .switchCars {
                top: 63%;
                .showCars {
                    .detailsSwitch {
                        .infoSwitch {
                            .row {
                                width: 800px;
                                .car {
                                    .img-fluid {
                                        height: 260px;
                                        max-width: 650px;
                                        border: 3px solid $firstColor;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #login {
        #btnCloseConnect {
            left: 96%;
        }
    }
    #signup {
        #btnCloseConnect {
            left: 96%;
        }
    }
}

@media screen and (max-width: 991px) {
    #show, #choose, #diesels, #electrics, #hybrides {
        .navbar {
            .navbar-brand {
                .siteLogo {
                    margin-top: -5px;
                }
            }
            #btnBar {
                display: block;
                margin-top: -10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #show {
        .navbar {
            .navbar-brand {
                .siteLogo {
                    margin-top: 0px;
                }
            }
        }
    }
    #choose {
        .containChoose {
            .switchCars {
                top: 63%;
                .showCars {
                    .detailsSwitch {
                        .infoSwitch {
                            .row {
                                width: 650px;
                                .car {
                                    .img-fluid {
                                        height: 260px;
                                        max-width: 650px;
                                        border: 3px solid $firstColor;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #signup {
        .containSignUp {
            top: 24%;
        }
    }
    #hybrides, #electrics, #diesels {
        .containHybrides, .containElectrics, .containDiesels {
            .showHybrides, .showElectrics, .showDiesels {
                .infoHybride, .infoElectric, .infoDiesel {
                    .img-fluid {
                        max-width: 700px;
                        margin-left: 20px;
                    }
                    .numberInfo {
                        margin: auto;
                        overflow: auto;
                        max-width: 800px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    #show {
        .navbar {
            .navbar-brand {
                .siteLogo {
                    margin-top: 2px;
                    font-size: 1.5em;
                }
            }
        }
        .containShow {
            .picsum-img-wrapper {
                .word {
                    p {
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
    #choose {
        .navbar {
            .navbar-brand {
                .siteLogo {
                    margin-top: 2px;
                    font-size: 1.5em;
                }
            }
        }
        .containChoose {
            .switchCars {
                top: 46%;
                .choose {
                    font-size: 1.6em;
                }
                .listTypeCars {
                    margin: 5px auto;
                    text-align: center;
                    max-height: 50px;
                    overflow: auto;
                    max-width: 300px;
                    justify-content: center;
                }
                .showCars {
                    .detailsSwitch {
                        .infoSwitch {
                            .row {
                                margin-top: 10px;
                                justify-content: center;
                                max-height: 270px;
                                max-width: 300px;
                                overflow: auto;
                            }
                        }
                    }
                }
            }
        }
    }
    #login {
        #btnCloseConnect {
            left: 91%;
        }
    }
    #signup {
        #btnCloseConnect {
            left: 91%;
        }
        .containSignUp {
            form {
                .register {
                    font-size: 1.9em;
                }
            }
        }
    }
    #hybrides, #electrics, #diesels {
        .navbar {
            .navbar-brand {
                .siteLogo {
                    margin-top: 2px;
                    font-size: 1.5em;
                }
            }
        }
        .containHybrides, .containElectrics, .containDiesels {
            .showHybrides, .showElectrics, .showDiesels {
                .infoHybride, .infoElectric, .infoDiesel {
                    .img-fluid {
                        max-width: 360px;
                        margin-left: 20px;
                    }
                    .numberInfo {
                        margin: 10px auto;
                        overflow: auto;
                        max-height: 100px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    #login {
        .containLogIn {
            top: 28%;
            form {
                .identify {
                    font-size: 1.8em;
                }
            }
        }
    }
    #signup {
        #btnCloseConnect {
            left: 90%;
        }
        .containSignUp {
            form {
                .register {
                    font-size: 1.7em;
                }
            }
        }
    }
    #hybrides, #electrics, #diesels {
        .containHybrides, .containElectrics, .containDiesels {
            .showHybrides, .showElectrics, .showDiesels {
                .infoHybride, .infoElectric, .infoDiesel {
                    .name {
                        margin-top: 20px;
                        font-size: 2.2em;
                    }
                }
            }
        }
        .footer {
            .copy {
                font-size: 1.4em;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    #show {
        .footer {
            .copy {
                font-size: 1.4em;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    #login {
        .containLogIn {
            form {
                .identify {
                    font-size: 1.7em;
                }
            }
        }
    }
    #hybrides, #electrics, #diesels {
        .containHybrides, .containElectrics, .containDiesels {
            .showHybrides, .showElectrics, .showDiesels {
                .infoHybride, .infoElectric, .infoDiesel {
                    .img-fluid {
                        height: 350px;
                        max-width: 280px;
                        margin-left: 20px;
                    }
                    .numberInfo {
                        margin: 10px auto;
                        overflow: auto;
                        max-height: 100px;
                    }
                }
            }
        }
    }
}

